<%- include('./partials/header'); %>

<body>
    <h1>Oups...</h1>
    <p>Vous vous êtes perdu ? Vous pouvez revenir aux dashboard en cliquant sur le lien : <a href="/admin">Dashboard</a></p>
</body>
</html>